{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в CityProblemMap!</h1>

<p>Здравствуйте, {{ user_name }}!</p>

<p>Спасибо за регистрацию на платформе CityProblemMap. Теперь вы можете:</p>

<ul>
    <li>📍 Сообщать о проблемах в вашем городе</li>
    <li>👍 Голосовать за важные проблемы</li>
    <li>💬 Комментировать и обсуждать решения</li>
    <li>📊 Отслеживать статус проблем</li>
    <li>🏆 Зарабатывать баллы и достижения</li>
</ul>

<a href="{{ frontend_url }}" class="button">Перейти на платформу</a>

<p>Если у вас есть вопросы, свяжитесь с нами по адресу {{ support_email }}</p>

<p>С уважением,<br>Команда CityProblemMap</p>
{% endblock %}
